# I name my virtualenv `venv`
venv*

# store your authentication with github api in a file
# do not add that file to git
*secrets.py

# These are storage folders for metadata and book git repos
rdf_library/*
library/*

# ignore the local copy of any logs
logs/*

# python ignores
*.pyc
*.db

# IDE vim ignore files
*.swp
*.ropeproject

# Python packaging
.eggs*
.env
.tox*
build*
dist*
gitberg.egg-info
log/log.txt
