[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pymarc = "==3.2.0"
nose = "*"
pylint = "*"
twine = "*"
appdirs = ">=1.4.3"
gitpython = "*"
urllib3 = ">=1.26.5"
semver = "==2.2.0"
pyjwt = {version = ">=2.4.0", extras = ["crypto"]}
gitberg = {editable = true, path = "."}

[requires]
python_version = "3.8"
