[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pymarc = "==3.2.0"
nose = "*"
pylint = "*"
twine = "*"
appdirs = ">=1.4.3"
gitpython = ">=3.1.34"
urllib3 = ">=2.1.0"
semver = "==2.2.0"
pyjwt = {version = ">=2.4.0", extras = ["crypto"]}
cryptography = ">=41.0.4"
certifi = ">=2023.7.22"
gitberg = {editable = true, path = "."}

[requires]
python_version = "3.8"
