=====================
{{title}}
=====================
{{readme_meta}}

This is a git repository of the source files for the book {{title}} by {{authors}}. This book is {{rights}}, see the LICENSE file for details. {{rights_note}}

Found an error?
===============
If you find an error in a book in GITenberg, you can report it by clicking the Issues tab in this book’s repository. Please copy-and-paste the entire sentence that contains the error, and what the text should read. For advanced users, you can make a Pull Request on Github.  For more information and how to get involved see the CONTRIBUTING_ section of the GITenberg website.

.. _CONTRIBUTING: https://gitenberg.github.com/#contributing


Technical details
=================
The main source file for this book will be a file with a name containing `{{identifiers.gutenberg}}` with a file extension (ex. `.txt`, `.rst`, `.tei`, `.tex`). Some books also contain generated ebooks, html versions, and images/figures from the text as image files. Eventually, there will be generated ebooks in the downloads area.

Every repository in GITenberg contains a number of standard files, including a license text, a metadata file, and this readme file.


About Project Gutenberg
=======================
Project Gutenberg is a project to collect and archive public domain texts and is the source of this book. Find out more at their website_.

    Project Gutenberg (PG) is a volunteer effort to digitize and archive cultural works, to "encourage the creation and distribution of eBooks". It was founded in 1971 by Michael S. Hart and is the oldest digital library. Most of the items in its collection are the full texts of public domain books. The project tries to make these as free as possible, in long-lasting, open formats that can be used on almost any computer. As of July 2012, Project Gutenberg claimed over 40,000 items in its collection.

    From Wikipedia, the free encyclopedia

.. _website: https://www.gutenberg.org/
