<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns:epub="http://www.idpf.org/2007/ops" xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>About GITenberg</title>
<link href="pgepub.css" type="text/css" rel="stylesheet" />
</head>
<body data-type="book">
<section data-type="copyright-page" epub:type="copyright-page" >
<div class="rights">
<p>Rights for this book: 
<a href="{{ metadata.rights_url }}">{{ metadata.rights }}</a>
</p>
{% if metadata._edition %}
<p>
This edition is published by {{ metadata.publisher }}.
</p>
{% endif %}
{% if metadata.gutenberg_issued %}
<p>
Originally <a href="{{ metadata.url }}">issued by Project Gutenberg</a> on {{ metadata.gutenberg_issued }}. To support the work of Project Gutenberg, visit their <a href="https://www.gutenberg.org/wiki/Gutenberg:Project_Gutenberg_Needs_Your_Donation">Donation Page</a>.
</p>
{% endif %}
{% if metadata._repo %}
<p>
This free ebook has been produced by <a href="https://www.GITenberg.org/">GITenberg</a>, a program of the <a href="http://ebookfoundation.org/">Free Ebook Foundation</a>. If you have corrections or improvements to make to this ebook, or you want to use the source files for this ebook, visit <a href="https://github.com/GITenberg/{{ metadata._repo }}/">the book's github repository</a>. You can support the work of the Free Ebook Foundation at their <a href="http://ebookfoundation.org/contributions.html">Contributors Page.</a>
</p>
{% endif %}
{% if metadata.covers %}
{% for cover in metadata.covers %}
{% if cover.rights %}
<p>
The {{cover.cover_type}} art is <a href="{{ cover.rights_url }}">{{ cover.rights }}</a>{% if cover.attribution %}, by {{cover.attribution}}{% endif %}.
</p>
{% endif %}
{% endfor %}
{% endif %}
{% if metadata.isbn %}
<p>
ISBN: {{ metadata.isbn }}
</p>
{% endif %}
</div>

</section>
</body>
</html>
